In [3]:
import logging , os # create the log file in our projects
from datetime import datetime 
dir_name = "insurance_log"
# os.makedirs(dir_name,exist_ok=True)
time_stamp =datetime.now().strftime("%d-%m-%y-%H-%M-%S")
file_name=time_stamp+".log"
log_file_path = os.path.join(dir_name,file_name)
print(log_file_path)

insurance_log\24-01-25-10-53-49.log

In [2]:
import logging , os # create the log file in our projects
from datetime import datetime 
dir_name = "insurance_log"
os.makedirs(dir_name,exist_ok=True)
time_stamp =datetime.now().strftime("%d-%m-%y-%H-%M-%S")
file_name=time_stamp+".log"
log_file_path = os.path.join(dir_name,file_name)
# print(log_file_path)
logging.basicConfig(filename=log_file_path,level=logging.DEBUG,format='%(asctime)s-%(levelname)s,%(message)s')

In [3]:
import sys
try:
    10/0

except Exception as e:
    rror_class,error_message,exe_tb=sys.exc_info()
    print(rror_class,error_message,exe_tb)
    print(exe_tb.tb_frame.f_lineno)
    print(exe_tb.tb_frame.f_code.co_filename)

<class 'ZeroDivisionError'> division by zero <traceback object at 0x0000016C5A0D2780>
8
C:\Users\kumaw\AppData\Local\Temp\ipykernel_4824\2155015079.py

In [12]:
import sys
class InsuranceException(Exception):
    def __init__(self,error_message:Exception,error_detail:sys ):
        super().__init__(error_message)
        self.error_message = InsuranceException.error_message_detail(error_message,error_detail=error_detail)
    @staticmethod
    def error_message_detail(error:Exception,error_detail:sys)->str:
        error_class,error_message,exe_tb = error_detail.exc_info()
        line_number=exe_tb.tb_frame.f_lineno
        file_name =exe_tb.tb_frame.f_code.co_filename
        error_message=f"filename {file_name},and line number {line_number},and error class {error_class}"
        return error_message
    def __str__(self):
        return InsuranceException.__name__.__str__()

In [14]:
# print(IndentationError)
import  sys
try:
    10/0
except Exception as e :
    obj=InsuranceException(e,sys)
    print(obj)

InsuranceException

In [7]:

print(obj)

None

In [15]:
import pandas as ps

In [16]:
df=ps.read_csv('insurance.csv')

In [21]:

first_portion = df.loc[0:df.shape[0]//2]
second_portion = df.loc[(df.shape[0]//2)+1:]

In [22]:
first_portion.shape

(670, 7)

In [23]:
second_portion.shape

(668, 7)

In [ ]:
import mysql.connector as mc

server=mc.connect(host ="13.51.166.182",
           user = "govind",
           password = "govind12345",
           database = 'boss')
cur=server.cursor()

# querry = "select *from logine"
# insert into logine(user,password,values(%(user)s,%(password)s))

# cur.execute(querry)
# # print(cur.fetchone())
# print(cur.fetchall())
cur.close()
server.close()

In [31]:
import mysql.connector

# Establish the connection
# try:
conn = mysql.connector.connect(
        host="13.51.166.182",  # e.g., "localhost" or an IP address
        user="root@localhost",
        password="Newrootpassword",
        database="boss"
    )
if conn.is_connected():
        print("Connected to MySQL")
else:
        print("sql is not connected ")

    # Create a cursor object
#     cursor = conn.cursor()

#     # Execute a query
#     cursor.execute("SHOW TABLES;")
#     for table in cursor:
#         print(table)

#     # Close the connection
#     cursor.close()
#     conn.close()

# except mysql.connector.Error as err:
#     print(f"Error: {err}")

InterfaceError: 2003: Can't connect to MySQL server on '13.51.166.182:3306' (10061 No connection could be made because the target machine actively refused it)

In [ ]:
import mysql.connector # type: ignore

# Connect to the database
conn = mysql.connector.connect(
    host="13.51.166.182",
    user="root",
    password="1234",
    database="jai"

)
if conn.is_connected():
    print("hm connect ho chuke ")
else:
    print("not conn")    

# mysql_cursor = conn.cursor()
# query = "INSERT INTO bike_predictions (owner_name, brand_name, kms_driven_bike, age_bike, power_bike, prediction) VALUES (%s, %s, %s, %s, %s, %s)"

InterfaceError: 2003: Can't connect to MySQL server on '13.51.166.182:3306' (10061 No connection could be made because the target machine actively refused it)