In [12]:
import logging , os # create the log file in our projects
from datetime import datetime 
dir_name = "insurance_log"
# os.makedirs(dir_name,exist_ok=True)
time_stamp =datetime.now().strftime("%d-%m-%y-%H-%M-%S")
file_name=time_stamp+".log"
log_file_path = os.path.join(dir_name,file_name)
print(log_file_path)

insurance_log\29-01-25-11-24-32.log

In [13]:
import logging , os # create the log file in our projects
from datetime import datetime 
dir_name = "insurance_log"
os.makedirs(dir_name,exist_ok=True)
time_stamp =datetime.now().strftime("%d-%m-%y-%H-%M-%S")
file_name=time_stamp+".log"
log_file_path = os.path.join(dir_name,file_name)
# print(log_file_path)
logging.basicConfig(filename=log_file_path,level=logging.DEBUG,format='%(asctime)s-%(levelname)s,%(message)s')

In [14]:
import sys
try:
    10/0

except Exception as e:
    rror_class,error_message,exe_tb=sys.exc_info()
    print(rror_class,error_message,exe_tb)
    print(exe_tb.tb_frame.f_lineno)
    print(exe_tb.tb_frame.f_code.co_filename)

<class 'ZeroDivisionError'> division by zero <traceback object at 0x000002C3F5673B00>
8
C:\Users\kumaw\AppData\Local\Temp\ipykernel_21320\2155015079.py

In [15]:
import sys
class InsuranceException(Exception):
    def __init__(self,error_message:Exception,error_detail:sys ):
        super().__init__(error_message)
        self.error_message = InsuranceException.error_message_detail(error_message,error_detail=error_detail)
    @staticmethod
    def error_message_detail(error:Exception,error_detail:sys)->str:
        error_class,error_message,exe_tb = error_detail.exc_info()
        line_number=exe_tb.tb_frame.f_lineno
        file_name =exe_tb.tb_frame.f_code.co_filename
        error_message=f"filename {file_name},and line number {line_number},and error class {error_class}"
        return error_message
    def __str__(self):
        return InsuranceException.__name__.__str__()

In [16]:
# print(IndentationError)
import  sys
try:
    10/0
except Exception as e :
    obj=InsuranceException(e,sys)
    print(obj)

InsuranceException

In [17]:

print(obj)

InsuranceException

In [18]:
import pandas as ps

In [19]:
df=ps.read_csv('insurance.csv')

In [20]:

first_portion = df.loc[0:df.shape[0]//2]
second_portion = df.loc[(df.shape[0]//2)+1:]

In [21]:
first_portion.shape

(670, 7)

In [22]:
# second_portion.shape

In [23]:
# import mysql.connector

# conn = mysql.connector.connect(
#     host="13.60.30.189",
#     user="root",
#     password="Password123!",
#     database="jai"
# )

# if conn.is_connected():
#     print("Connected to MySQL")

In [24]:
# from source_code.logger import logging
# from source_code.exception import InsuranceException
# import sys ,os 
# from source_code.entity import config_entity
# from source_code.dbconfig import connect_to_mogodb
# from source_code.utils import is_mongoconnected
# from source_code.components.data_ingestion import DataIngestion

# traning_pipeline_obj=config_entity.TraningPipelineconfig()

# dataingestion_config_obj=config_entity.Datainegestincongif(trainig_pipeline_config=traning_pipeline_obj)

# mongo_connections=connect_to_mogodb(mogodb_string=dataingestion_config_obj.mongodb_string)
# is_mongoconnected(mongo_connections)
# DataIngestion_obj=DataIngestion(dataingestion_config_obj)
# loading_dataset_artifact_value=DataIngestion_obj.loading_dataset()

# # print(loading_dataset_artifact_value.Dataset_file_path)
# # print(loading_dataset_artifact_value.Test_file_path)
# # print(loading_dataset_artifact_value.Train_file_path)
# loading_dataset_artifact_value

In [25]:

# from source_code.dbconfig import connect_to_mogodb
# from source_code.logger import logging
# from source_code.exception import InsuranceException
# import sys ,os 
# from source_code.entity import config_entity
# from source_code.dbconfig import connect_to_mogodb
# from source_code.utils import is_mongoconnected
# from source_code.components.data_ingestion import DataIngestion

# traning_pipeline_obj=config_entity.TraningPipelineconfig()

# dataingestion_config_obj=config_entity.Datainegestincongif(trainig_pipeline_config=traning_pipeline_obj)

# mongo_connections=connect_to_mogodb(mogodb_string=dataingestion_config_obj.mongodb_string)
# # is_mongoconnected(mongo_connections)
# # mongo_connections.find()
# # mongo_connection_nane =mongo_connections[self.dataingestionconfig_obj.mongo_collection_name]

In [31]:
import pandas as pd

In [32]:

# mongo_connections=connect_to_mogodb(os.getenv('mogodb_string'))
# col=mongo_connections['mlproject_database']['ml_collection']
# df=pd.DataFrame(list(col.find()))
# df

In [33]:
# df['bmi'].max()

In [34]:
# df.info()

In [35]:
# df.duplicated().sum()

In [36]:
# df.isnull().sum()

In [37]:
# df.isna().sum()

In [38]:
# import pandas as pd
# import numpy as np

# # Load the CSV file
# input_file = 'E:\ML-project1\insurance.csv'  # Path to the large CSV file
# df = pd.read_csv(input_file)

# # Split the dataframe into 2 parts
# df_split = np.array_split(df, 2)

# # Save each split dataframe into a new CSV file
# df_split[0].to_csv('split_part_1.csv', index=False)
# df_split[1].to_csv('split_part_2.csv', index=False)

# print('CSV file split into two parts: split_part_1.csv and split_part_2.csv')

In [39]:
# df=pd.read_csv("E:\ML-project1\split_part_1.csv")

In [40]:
# pd.shape

In [42]:
import pandas as pd 
df=pd.read_csv("E:\ML-project1\split_part_2.csv")

In [43]:
df.head()

   age     sex    bmi  children smoker     region    charges
0   40  female  29.81         1     no  southeast  6500.2359
1   30    male  31.57         3     no  southeast  4837.5823
2   29  female  31.16         0     no  northeast  3943.5954
3   36    male  29.70         0     no  southeast  4399.7310
4   41  female  31.02         0     no  southeast  6185.3208

In [1]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

# Function to insert CSV data into MySQL
def insert_csv_to_mysql(csv_file, host, user, password, database, table_name):
    try:
        # Read CSV data into a Pandas DataFrame
        df = pd.read_csv(csv_file)

        # Connect to the MySQL database
        connection = mysql.connector.connect(
             host="13.60.30.189",
            user="Admin",
            password="Password123!",
            database="jai"
)
        

        if connection.is_connected():
            print(f"Connected to MySQL database {database}")

            # Create a cursor object
            cursor = connection.cursor()

            # Iterate over the DataFrame and insert data into MySQL
            for index, row in df.iterrows():
                # Create an INSERT query
                insert_query = f"INSERT INTO {table_name} ({', '.join(df.columns)}) VALUES ({', '.join(['%s'] * len(df.columns))})"
                
                # Insert the row data into the table
                cursor.execute(insert_query, tuple(row))
                
            # Commit the transaction
            connection.commit()
            print(f"Successfully inserted {len(df)} rows into {table_name}.")

    except Error as e:
        print(f"Error: {e}")
    finally:
        # Close the cursor and connection
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed.")

# Define your CSV file and MySQL details
csv_file = 'E:\ML-project1\split_part_1.csv'  # Path to your CSV file
host="13.60.30.189",
user="Admin",
password="Password123!",
database="jai"
table_name = 'mlproject'


# Call the function to insert CSV data to MySQL
insert_csv_to_mysql(csv_file, host, user, password, database, table_name)

:

In [2]:
from source_code.dbconfig import connect_to_mogodb,connect_to_mysql


sql_connection=connect_to_mysql(host='16.171.3.98',user="Admin",password='Password123!',database='room')
logging.info("connect with mysql ")

cursor =sql_connection.cursor()
cursor.execute("SELECT * FROM insurance_data")
rows = cursor.fetchall()
for row in rows:
        print(row)

:

In [1]:
print("helfndsfkjf")

helfndsfkjf

In [2]:
import os 
import numpy as np 
import sys
import pandas as pd 
from source_code.logger import logging
from source_code.exception import InsuranceException
# load dataset from dir 
from source_code.entity import config_entity,artifact_entity
class Datacleaning:
    def __init__(self,):
    # def data_cleaning():
            dataset_file_path=artifact_entity.Dataingenstionartifact.Dataset_file_path 
            total_train_file_path=artifact_entity.Dataingenstionartifact.total_Train_file_path
            total_test_file_path=artifact_entity.Dataingenstionartifact.total_Test_file_path
            total_df=pd.read_csv(total_train_file_path)
            total_df.drop_duplicates(inplace=True)
            size_of_the_data = total_df.shape
            logging.info(f'shape of the data {size_of_the_data}')   
            # to handle the missing value
            logging.info('replacing na value with np.nan')
            total_df.replace(to_replace='na',value=np.NAN,inplace=True)
            logging.info('replaced')    
            # to handle the null value 
            logging.info("remove the null  value from the dataset ")
            total_df.dropna(inplace=True)

In [7]:
import os 
import numpy as np 
import sys
import pandas as pd 
from source_code.logger import logging
from source_code.exception import InsuranceException
# load dataset from dir 
from source_code.entity import config_entity,artifact_entity
class Datacleaning:
    def __init__(self,total_dataset_file_path:artifact_entity.Dataingenstionartifact,
                 total_train_file_path:artifact_entity.Dataingenstionartifact,
                  total_test_file_path:artifact_entity.Dataingenstionartifact ):
            try:
                  self.total_dataset_file_path=total_dataset_file_path
                  self.total_train_file_path = total_train_file_path
                  self.total_test_file_path= total_test_file_path
                  pass
            except Exception as e:
                  raise InsuranceException(e ,sys)
            
    def data_cleaning(self):
            """
            this funtion is used for data cleaning and manipulation of data"""

            total_df=pd.read_csv(self.total_train_file_path)
            total_df.drop_duplicates(inplace=True)
            size_of_the_data = total_df.shape
            logging.info(f'shape of the data {size_of_the_data}')   
            # to handle the missing value
            logging.info('replacing na value with np.nan')
            total_df.replace(to_replace='na',value=np.NAN,inplace=True)
            logging.info('replaced')    
            # to handle the null value 
            logging.info("remove the null  value from the dataset ")
            total_df.dropna(inplace=True)   
            print(total_df)

AttributeError: type object 'Dataingenstionartifact' has no attribute 'Dataset_file_path'

In [30]:
import pandas as pd

# Load the dataset
df = pd.read_csv("insurance.csv")

In [34]:


# Define validation functions
def validate_sex(value):
    return value in ["male", "female"]

def validate_bmi(value):
    return isinstance(value, (int, float)) and value > 0

def validate_children(value):
    return isinstance(value, int) and value >= 0

def validate_smoker(value):
    return value in ["yes", "no"]

def validate_region(value):
    return value in ["southeast", "southwest", "northeast", "northwest"]

def validate_charges(value):
    return isinstance(value, (int, float)) and value >= 0

# Apply validation checks
invalid_rows = df[
    (~df["sex"].apply(validate_sex)) |
    (~df["bmi"].apply(validate_bmi)) |
    (~df["children"].apply(validate_children)) |
    (~df["smoker"].apply(validate_smoker)) |
    (~df["region"].apply(validate_region)) |
    (~df["charges"].apply(validate_charges))
]

# Display validation results
if invalid_rows.empty:
    print("✅ Data is valid!")
else:
    print("⚠️ Invalid data found:")
    print(invalid_rows)
    df.drop(invalid_rows.index,inplace=True)

⚠️ Invalid data found:
   age sex   bmi  children smoker     region    charges
0   19   f  27.9         0    yes  southwest  16884.924

In [32]:
df.loc[0,'sex'] ='f'

In [35]:
df.head()

   age     sex     bmi  children smoker     region      charges
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160